:root {
    --main-colour: rgb(182, 109, 67);
    --colour-text: #fff;
    --colour-dark-blue: #13293d;
    --colour-light-green: rgb(158, 255, 214);
    --border-focus: #772014;
    --header-background: rgb(216, 162, 14);
    --body-background: #33393f;
     /*--body-background: #3e5472;*/
    --active: red;
}

* {
    color: var(--colour-text);
    margin: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--body-background);    
}

#search-bar {
    color: var(--main-colour);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 250px;
    width: auto;
    padding: 5px;
}

#search-bar-header {
    display: flex; 
}

#search-text-area {
    background-color: var(--body-background);
    height: auto;
    width: 275px;
    font-size: large;
}

#search-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 280px;
    background-color: var(--main-colour);
}

#city-btn-section {
    display: flex;
    flex-direction: column;
    width: 290px;
    padding: 5px;
}

.city-btn-items {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 280px;
    background-color: var(--main-colour);
}

#forecast-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 35%;
    bottom: 17.5rem;
    height: auto;
    width: 750px;
}

/* .city-name-styling {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 40px;
    left: 150px;
} */

.forecast-content-item {
    box-shadow: 0 0 100px var(--border-focus) inset;
    background-color: var(--header-background);
    border-radius: 10px;
}

@media screen and (max-width: 1500px) {
    #forecast-content {
        width: 750px;
    }
}

@media screen and (max-width: 1150px) {
    #forecast-content {
        flex-wrap: wrap;
        flex-direction: column;
        left: 360px;
        width: 250px;
    }
}

@media screen and (max-width: 700px) {
    #forecast-content {
        flex-direction: column;
        left: 25px;
        bottom: -50px;
    }
}

@media screen and (max-width: 213px) {
    #city-name-styling {
        left: 40px;
    }
}